:root {
  --accentColour: #800080 !important;
  --accentColour2: #802080 !important;
  --accent-color: #800080 !important;
  --accent-color2: #802080 !important;
  --mentionmark: #800080 !important;
  --brand-experiment: #800080;
  --scrollbar-auto-thumb: #c0c0c0 !important;
  --scrollbar-thin-track: #c0c0c0 !important;
    -webkit-font-smoothing: none !important;
    -moz-osx-font-smoothing: none !important;
    filter:contrast(1) !important;
	text-rendering: optimizeSpeed !important;
  --font-primary: "Px437 DOS/V re. JPN12" !important
}

.wrapper_b1e1fe {
    display: none;
}

body, div {
    filter:contrast(1) !important;

    -moz-osx-font-smoothing: none !important;
    font-smooth: never !important;
	text-rendering: optimizeSpeed !important;
    -webkit-font-smoothing: none !important;
}

.headerContent__6fcc7 {
    margin-top: -10px;
}

#bd-pub-li {
    display: none;
}

.avatarWrapper__0cd44 {
    top: 16px !important;
}


.avatar__7bd22 > .wrapper__3ed10,
.avatar__6337f > .wrapper__3ed10 {
    height: 20px !important;
    width: 20px !important;
}

.layout_bb8e67 .avatarWrapper__0cd44 .wrapper-1VLyxH {
    width: 16px !important;
    height: 16px !important;
}

.buttons__7ecff {
    height: 22px;
}

.scroller-1bVxF5 {
    background: #bdbdbd;
    border-left: 2px solid white;
    border-bottom: 2px solid #464646;
    border-right: 1px solid #464646;
    border-top: 1px solid white;
}

.interactive-1vLZ_I, .interactive-1vLZ_I:hover {
    background-color: rgb( 216, 216, 216 );
}

div {
    border-radius: 0 !important;
}

.clipContainer_ab9cf6 {
    background: #c0c0c0 !important;
}

.fade-1R6FHN::-webkit-scrollbar-thumb, .fade-1R6FHN::-webkit-scrollbar-track {
    display: visible;
}

.barButtonIcon__8b27d {
    display: none;
}

.replyBar_ed6afc {
    background: #c0c0c0;
}

.mentionButton__73096 {
    color: #000;
}

.mentioned_fa6fd2:before {
    background-color: #800080;
}

.mentionButton-3710 {
    color: #000;
}

.wrapper__4e6b6 {
    background: #C0C0C0;
    border-top-color: #d4d4d4;
    border-left-color: white;
    border-bottom: 1px solid grey;
    margin-bottom: 1px;
    border-left: 2px solid #fbfbfb;
}

foreignObject {
    mask: none;
    opacity: 1;
}
.app_b1f720 {
    border-bottom: 2px solid #464646;
    border-right: 2px solid #464646;
}
 
.typeWindows_e41dab.withFrame__5e49e.titleBar__710b0 {
    background: linear-gradient(45deg, #800080, #388cb0);
}
 
.withFrame__5e49e {
    height: 20px;
    margin-top: 0px;
    border: 3px solid black;
    margin: 0px 0px 0px 0px;
    border-right-color: #464646;
    border-top-color: #d4d4d4;
    border-left-color: white;
    border-right: 2px solid;
    border-bottom: 1px solid grey;
    margin-bottom: 1px;
    border-left: 2px solid #fbfbfb;
}
.wordmarkWindows_ffbc5e {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 9px 3px;
    color: #fdfdfd;
}
.winButton_f17fb6 {
    position: relative;
    top: 2px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    pointer-events: auto;
    -webkit-app-region: no-drag;
    border: 1px solid red;
    background: #BFBFBF;
    border-left-color: #F9F9F9;
    border-top-color: #F9F9F9;
    border-right-color: #171616;
    border-bottom-color: #171616;
    color: black !important;
    margin-right: 3px;
    margin-top: 0px;
    padding: 2px;
}
.winButton_f17fb6 svg{
    width: 12px;
    height: 12px;
    margin-right: 0px;
    margin-top: 0px;
}
/*top bar */
.container_f41675.clickable__1383f {
    background: #C0C0C0 !important;
    border: 1px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #464646;
    border-bottom-color: #808080;
}
.platform-win .sidebar_e031be {
    border-radius: 0px 0 0;
}

.header__77c95 {
    height: 28px;
}
.container__26baa.themed_b152d4 {
    background: #C0C0C0;
   border: 1px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #808080;
    border-bottom-color: #808080;
    min-height: 30px;
}
.container__26baa {
    height: 30px;
}
.title__84e16 {
    margin: 0 0px 0 0;
    font-family: "Microsoft Sans Serif";
}
.name_e8e549 {
    font-size: 14px;
    line-height: 20px;
    font-family: "Microsoft Sans Serif";
}
.topic__16ae3 {
    margin: 0 0 0 0px;
    font-weight: 600 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    font-family: "Microsoft Sans Serif";
}

.typing__6fd1d .text_eb454c {
    display: none !important;
}

.iconWrapper_de6cd1 {
    height: 16px;
    width: 7px;
    margin: 0 10px;
}
.icon_ae0b42 {
    display: block;
    width: 16px;
    height: 16px;
    -webkit-app-region: no-drag;
    color: var(--text-muted);
}
.searchBar-zdmu7v {
    height: 22px;
    width: 144px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: text;
    overflow: hidden;
    padding: 0 0px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid black;
    font-family: "Microsoft Sans Serif";
}
/* sidebar */
 
.guilds__2b93a {
    position: relative;
    width: 60px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.wrapper-1Rf91z {
    width: 48px;
}
.svg-2zuE5p, .wrapper-28eC3z {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
}
.scroller_de945b {
    background: #bdbdbd;
    border-left: 2px solid white;
    border-bottom: 1px solid white;
    border-right: 0px solid white;
    border-top: 1px solid white;
}

.listItem__48528 {
	width: 50px !important;
}

.wrapper__9916c {
  width: 36px;
  height: 36px;
}
 
.listItem-2P_4kh {
    margin: 0 0 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 36px;
    border: 2px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #808080;
    border-bottom-color: #808080;
    margin: auto;
    margin-bottom: 4Px;
    border-radius: 1px;
}
.wrapper_b4903b {
    position: relative;
    overflow: visible;
    width: 7px;
    height: 36px;
}
.item_f9d377 {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px !important;
    border-radius: 1px;
    margin-left: 5px;
    background-color: #ff000000;
    border: 2px solid #800080;
    border-bottom-color: white;
    border-right-color: white;
}

.container_f79ab4 {
	background: rgb( 169, 169, 169 );
    width: 150px;
}

/* notify sidebar*/
.base__5ed84 {
    border-radius: 0px;
    min-width: 16px;
    min-height: 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #fff;
}
.numberBadge__40d6f.base__5ed84 {
    background-color: rgb(0, 55, 156);
}
 
/*channel bar */
.base_c0676e {
	left: 0;
}

.tree__7a511, .wrapper__216eb, .guilds__2b93a, .scroller_de945b {
  background: #adadad !important;
}

.childWrapper_a6ce15 {
  
}


.panel_bd8c76, .container_debb33 {
  background: #adadad !important;
  height: 31px;
  border-top: 1px solid #707070;
}

.circleIconButton__05cf2 {
  width: 36px;
  height: 36px;
  margin-left: 4px;
}

.container__3792d {
  margin-left: 0;
  margin-right: 0;
  max-width: 242px;
}

.interactive__0786a {
  margin-left: 0;
  margin-right: 0;
  /*background: rgb( 216, 216, 216 );*/
}

.animatedContainer__0e828 {
  height: 30px;
}

.content__690c5 {
  background: #fff;
  /*height: auto !important;*/
}

.headerText__88997 {
  color: #00f;
}

.children_cde9af:after {
  background: none !important;
}

.inner__9fd0b {
  background: #bdbdbd;
  height: 30px;
}

.scroller__89969, .scroller__1f498 {
  background: #bdbdbd !important;
  overflow-y: scroll !important;
}
.mainContent__2333c {
  background: #ffffff !important;
}

.sidebar_e031be {
  background-color: #adadad;
    border-right: 0px solid #ffffff;
    width: 250px;
}
.container__7e23c {
    background-color: #adadad;
}
.containerDefault_ae2ea4, .containerDragAfter_fec62e, .containerDragBefore__257b9, .containerUserOver__2f65b {
    position: relative;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    border: 1px solid;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    margin-bottom: 1px;
    background: #fff;
}
.wrapper__612a5 {
    padding: 0 0px;
    margin-left: 0px;
    border-radius: 0px;
    height: 20px;
}
.modeSelected__473f1 .wrapper__612a5, .modeSelected__473f1:hover .wrapper__612a5 {
   background: #F0f; 
  /*background: url(http://www.fa-series.com/wp-content/uploads/2020/12/dotted2.png);*/
}

.sectionDivider__9dbcb {
  display: none;
}

.link_ddbb36 {
  border-radius: 0;
  padding: 0;
}

.mainContent-20q_Hp {
    padding: 0px 0;
}
.containerDefault_e3b32b, .containerDragAfter_e03e10, .containerDragBefore__1b24b, .containerUserOver__91b97 {
    position: relative;
    padding-top: 0px;
}
.container-q97qHp {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #000000;
    font-family: "Microsoft Sans Serif";
}
.name__4eb92 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    white-space: nowrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-family: "Microsoft Sans Serif";
    padding-left: 5px;
}

.name__27f04, .icon__3aa8e {
  color: #00f; 
}

.anchor_c8ddc0.anchorUnderlineOnHover__03b72>.iconWrapper_de6cd1 {
  display:none;
}

.unread__48cf4 {
    height: 18px;
    width: 7px;
    border-radius: 0px;
    top: 0;
    left: 0;
    margin-top: 0px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #989898;
    border-top: 1px solid #929292;
    border-bottom: 1px solid #ffffff;
}
.icon__67ab4 { /* dies */
    color: var(--text-muted);
    display: none;
}
/* bottom profile */
.panels__58331 {
    background-color: #ababab;
  border-bottom: 1px solid #fff;

}
/* right bar */
.members__573eb, .members__573eb>div {
    background-color: #a9a9a9;
    padding: 0 0 0 0;
}
 
.membersWrap__5ca6b {
    min-width: 150px;
}
.members__573eb {
    width: 150px;
}
.membersGroup_cad095 {
    padding: 6px 8px 0 7px;
    height: 23px;
}
.container_a48b21, .container-32HW5s {
    padding: 0px 0;
    border-radius: 0px;
    color: #000000;
    border: 1px solid #cccccc;
    margin-bottom: 3px;
    box-shadow: 1px 1Px 1px black;
    background: #b7b7b7;
    border-top-color: #e2e2e2;
    border-left-color: #d2d2d2;
    
}
.layout_bb8e67, .layout__59abc {
    border-radius: 0px;
    height: 20px;
    padding: 0 0px;
	/*background-color: rgb( 216, 216, 216 );*/
}
.avatar__6337f .wrapper-1VLyxH {
    width: 16px !important;
    height: 16px !important;
}

.wrapper__8436d {
  width: 36px;
  height: 36px;
}

.icon__11cf1 {
  width: 32px;
  height: 32px;
}

.wrapper__3ed10 > .svg_a6bf1c {
    width: inherit !important;
    height: inherit !important;
  
}

.avatar__7bd22 .wrapper__3ed10 {
    width: 16px !important;
    height: 16px !important;
}

.avatar__6337f, .avatar__7bd22 {
    width: 23px;
    height: 33px;
    margin-right: 0px;
}

.closeButton__116c3 {
  opacity: 1;
  margin: 0;
  padding-right: 0;
}

.name__7afe8, .name_f842e4 {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    font-family: "Microsoft Sans Serif";
    text-transform: uppercase;
}
.subText__4629e, .subText__0b282 {
    display: none;
}
.offline__55fab {
    opacity: 1;
}
.offline__55fab .avatar__6337f  {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    content: url(http://www.fa-series.com/wp-content/uploads/2020/11/contactoldoffline3.png);
background: transparent;
 
}
/* CHATBOX */
.newMessagesBar__8b272 {
    top: 0;
    border-radius: 0px;
    background-color: #800080;
}
.barBase__8839d {
    position: absolute;
    left: 0px;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
    min-height: 24px;
    text-transform: capitalize;
    -webkit-transition: opacity .15s;
    transition: opacity .15s;
    opacity: 1;
    cursor: pointer;
}
.chatContent_f087cb {
    background: #ffffff;
}

.button__437ce {

}

.stickerButton_c02bc0, .emojiButton__176c8 {
  display: none;
}

.compact_eda3c8 .contents_d3ae0d {
    margin-left: 0rem;
    padding-left: 0rem;
    text-indent: 0rem;
}
 
.compact_eda3c8.wrapper_a62503 {
    padding-left: 0px;
}
.message_ccca67 {
    padding-right: 0px!important;
}
.embedFull__14919 {
    border-left: 0px solid var(--background-tertiary);
    background: #13141500;
}
.embedProvider_f3e807 {
    display: none;
}
.embedAuthor__3e8990{
    display: none;
}
.embedTitle__1ac59 {
    font-family: "Microsoft Sans Serif";
}
.compact_eda3c8.wrapper_a62503 {
    padding-left: 4px;
    /*border-bottom: 1px solid white;*/
    margin-bottom: 0px;
    margin-top: 0px;
    /*box-shadow: 0px 1px 1px grey;*/
}
.markup_a7e664 a {
    color: #800080;
   font-family: "Microsoft Sans Serif";
   text-decoration: underline;
}
.markup_a7e664  {
    
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #000000;
   font-family: "Microsoft Sans Serif";
 font-size: 10px;
}
.username__0b0e7 {
    font-family: "Microsoft Sans Serif";
    font-size: 10px;
}
.compact_eda3c8 .timestamp_c79dd2, .cozy_f5c119 .timestamp_c79dd2.alt__6c563 {
    font-size: 9px;
    color: #000000;
    text-indent: 0;
    font-family: "Microsoft Sans Serif";
}
.embedMargin__99b82 {
    margin-top: 0px;
}
.embedFull__14919 .embedMedia__4e169 {
    margin-top: 0px;
}
.embedVideoImageComponent__5846c {
    width: 100%!important;
    height: 100%!important;
    max-height: 100%;
    border-radius: 0 !important;
    border: 1px solid black;
}
.imageWrapper__178ee {
    border-radius: 0px;
    border: 1px solid black;
}
.content__7191e { /*date */
    padding: 1px 4px;
    color: #000000;
    background: #fff0;
    line-height: 13px;
    font-size: 12px;
    margin-top: -15px;
    font-weight: bolder;
    border-radius: 0px;
    font-family: arial;
    text-transform: uppercase;
}
.isUnread_de09f5 .content__7191e {
    color: #00254c;
}
.isUnread_de09f5 {
    border-color: #011c58;
}
.unreadPill__1b4fa {
    top: -7px;
    right: 0;
    font-size: 10px;
    line-height: 9px;
    font-weight: 700;
    padding: 0 6px 0 1px;
    border-radius: 0 4px 4px 0;
    text-transform: uppercase;
    color: #fff;
    background-color: #011c58;
}
.unreadPillCapStroke__89d64 {
    color: #011c58;
    fill: #011c58;
}
.mentioned_fa6fd2 {
    position: relative;
    background-color: #a0a0a0;
}
.wrapper_f5f4c9 {
    border-radius: 0px !important;
    padding: 0 2px;
    font-weight: 600;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
    color: #000000;
    background: rgba(156, 0, 0, 0);
    position: relative;
}

.bd-button {
	background-color: #e0a0e0;
}

.bd-addon-views {
	background-color: #e0a0e0;
}

.selected_ae80f7 {
	background-color: #800080;
}

.botTagRegular_c89c9a {
    background: #000000;
    color: #fff;
    border-radius: 0px;
}
.rem_be1e7a.botTag__4211a {
    height: .9375rem;
    padding: 0 .275rem;
    margin-top: .075em;
    border-radius: 0px;
}
/*scrollbar */
 
.theme-light {
    --scrollbar-thin-track: #989898;
    --scrollbar-auto-thumb: #545454;
    --scrollbar-auto-track: #bbbbbb;
}
/*texting */
.channelTextArea_c2094b {
    margin-bottom: 0px;
    background-color: #635f5f00;
}
.form_d8a4a1 {
  background: #bdbdbd;
  -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    border-top: 1px solid #616161;
    border-bottom: 1px solid #fff;
    height: 28px;
    padding-top: 4px;
}

.form_d8a4a1:before {
  display:none;
}

.repliedMessage__636d2 {
  font-size: 8px;
}

.attachButton__56f98 {
  padding-top: 0px;
  height: 34px;
  padding-left: 20px !important;
  padding-right: 4px !important;

}
.scrollableContainer_ff917f {
    background-color: #ebedef00;
    max-height: 50vh;
    border-radius: 0px;
    scrollbar-width: none;
}
.sansAttachButton__5f863 {
    padding-left: 0px;
}
.fontSize14Padding_d72d40 {
    padding-bottom: 0px;
    padding-top: 0px;
}
.textArea_a86690 {
    background-color: #fdfdfd;
    border: 1px solid;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.375rem;
    width: 100%;
    height: 22px;
    min-height: 22px;
    color: #000000;
    padding-left: 0;
    padding-right: 10px;
    top: 11px;
}

.placeholder__443e5 {
  display: none;
}

.textArea_a86690 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.button__493d9 {
    padding: 0px;
    margin-left: 4px;
    margin-right: 4px;
}
/* private channels */
.searchBar__621ec {
    z-index: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0 2px;
    height: 28px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
    background-color: #bdbdbd;
    border: 1px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #464646;
    border-bottom-color: #808080;
}
.scroller__89969 {
    background-color: #a7a7a7;
}
.searchBar__621ec .searchBarComponent__8f95f {
    width: 100%;
    height: 22px;
    overflow: hidden;
    border-radius: 0px;
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    border: 1px solid black;
    font-family: "Courier New";
}

.peopleColumn__0c784 {
background: #c0c0c0 !important;
}

.selected__7f4cb .layout_bb8e67 {
    background-color: rgb(43, 43, 43);
    color: white;
}
.scrollbar {
    border-radius:0px;
}

::-webkit-scrollbar-thumb {
	background: #c0c0c0;
	background-clip: none !important;
	border-radius: 0 !important;
	border: 1px solid #c0c0c0 !important;
	border-top-color: #e2e2e2 !important;
    border-left-color: #d2d2d2 !important;
}

::-webkit-scrollbar-track {
	border: none !important;
	background-color: #989898;
	background-clip: none !important;
	border-radius: 0 !important;
	margin-bottom: 0;
}
