:root {
  --accentColour: #800080 !important;
  --accentColour2: #802080 !important;
  --accent-color: #800080 !important;
  --accent-color2: #802080 !important;
  --mentionmark: #800080 !important;
  --brand-experiment: #800080;
  --scrollbar-auto-thumb: #c0c0c0 !important;
  --scrollbar-thin-track: #c0c0c0 !important;
  --font-primary: "MS Sans Serif", "Tahoma" !important
}

body, div {
	text-rendering: optimizeSpeed !important;
}

.headerContent_ee8727 {
    margin-top: -10px;
}

#bd-pub-li {
    display: none;
}

.avatarWrapper_f77579 {
    top: 16px !important;
}


.avatar__7bd22 > .wrapper_edb6e0,
.avatar__6337f > .wrapper_edb6e0 {
    height: 20px !important;
    width: 20px !important;
}

.layout_bb8e67 .avatarWrapper_f77579 .wrapper-1VLyxH {
    width: 16px !important;
    height: 16px !important;
}

.scroller-1bVxF5 {
    background: #bdbdbd;
    border-left: 2px solid white;
    border-bottom: 2px solid #464646;
    border-right: 1px solid #464646;
    border-top: 1px solid white;
}

.interactive-1vLZ_I, .interactive-1vLZ_I:hover {
    background-color: rgb( 216, 216, 216 );
}

div {
    border-radius: 0 !important;
}

.clipContainer__99c30 {
    background: #c0c0c0 !important;
}

.fade-1R6FHN::-webkit-scrollbar-thumb, .fade-1R6FHN::-webkit-scrollbar-track {
    display: visible;
}

.barButtonIcon__907ef {
    display: none;
}

.replyBar_b64d74 {
    background: #c0c0c0;
}

.mentionButton_a470c4 {
    color: #000;
}

.mentioned__58017:before {
    background-color: #800080;
}

.mentionButton-3710 {
    color: #000;
}

.wrapper_c727b6 {
    background: #C0C0C0;
    border-top-color: #d4d4d4;
    border-left-color: white;
    border-bottom: 1px solid grey;
    margin-bottom: 1px;
    border-left: 2px solid #fbfbfb;
}

foreignObject {
    mask: none;
    opacity: 1;
}
.app_b1f720 {
    border-bottom: 2px solid #464646;
    border-right: 2px solid #464646;
}
 
.typeWindows__5fa63.withFrame__485f4.titleBar__01af6 {
    background: linear-gradient(45deg, #800080, #388cb0);
}
 
.withFrame__485f4 {
    height: 20px;
    margin-top: 0px;
    border: 3px solid black;
    margin: 0px 0px 0px 0px;
    border-right-color: #464646;
    border-top-color: #d4d4d4;
    border-left-color: white;
    border-right: 2px solid;
    border-bottom: 1px solid grey;
    margin-bottom: 1px;
    border-left: 2px solid #fbfbfb;
}
.wordmarkWindows__05c46 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 9px 3px;
    color: #fdfdfd;
}
.winButton__88672 {
    position: relative;
    top: 2px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    pointer-events: auto;
    -webkit-app-region: no-drag;
    border: 1px solid red;
    background: #BFBFBF;
    border-left-color: #F9F9F9;
    border-top-color: #F9F9F9;
    border-right-color: #171616;
    border-bottom-color: #171616;
    color: black !important;
    margin-right: 3px;
    margin-top: 0px;
    padding: 2px;
}
.winButton__88672 svg{
    width: 12px;
    height: 12px;
    margin-right: 0px;
    margin-top: 0px;
}
/*top bar */
.container__7c79d.clickable__2d589 {
    background: #C0C0C0 !important;
    border: 1px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #464646;
    border-bottom-color: #808080;
}
.platform-win .sidebar_ded4b5 {
    border-radius: 0px 0 0;
}

.header__104ca {
    height: 28px;
}
.container__11d72.themed_b152d4 {
    background: #C0C0C0;
   border: 1px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #808080;
    border-bottom-color: #808080;
}
.container__11d72 {
    height: 30px;
}
.title__9e2b0 {
    margin: 0 0px 0 0;
    font-family: "MS Sans Serif";
}
.name_c08dbc {
    font-size: 14px;
    line-height: 20px;
    font-family: "MS Sans Serif";
}
.topic__16ae3 {
    margin: 0 0 0 0px;
    font-weight: 600 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    font-family: "MS Sans Serif";
}

.typing__6fd1d .text_ca54e9 {
    display: none !important;
}

.iconWrapper_af9215 {
    height: 16px;
    width: 7px;
    margin: 0 10px;
}
.icon__4cb88 {
    display: block;
    width: 16px;
    height: 16px;
    -webkit-app-region: no-drag;
    color: var(--text-muted);
}
.searchBar-zdmu7v {
    height: 22px;
    width: 144px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: text;
    overflow: hidden;
    padding: 0 0px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid black;
    font-family: "MS Sans Serif";
}
/* sidebar */
 
.guilds__2b93a {
    position: relative;
    width: 60px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.wrapper-1Rf91z {
    width: 48px;
}
.svg-2zuE5p, .wrapper-28eC3z {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
}
.scroller__3d071 {
    background: #bdbdbd;
    border-left: 2px solid white;
    border-bottom: 1px solid white;
    border-right: 0px solid white;
    border-top: 1px solid white;
}

.listItem_fa7b36 {
	width: inherit !important;
}

.wrapper__3af0b {
  width: 36px;
  height: 36px;
}
 
.listItem-2P_4kh {
    margin: 0 0 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 36px;
    border: 2px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #808080;
    border-bottom-color: #808080;
    margin: auto;
    margin-bottom: 4Px;
    border-radius: 1px;
}
.wrapper__3670f {
    position: relative;
    overflow: visible;
    width: 7px;
    height: 36px;
}
.item_f9d377 {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px !important;
    border-radius: 1px;
    margin-left: 5px;
    background-color: #ff000000;
    border: 2px solid #800080;
    border-bottom-color: white;
    border-right-color: white;
}

.container_b2ce9c {
	background: rgb( 169, 169, 169 );
    width: 150px;
}

/* notify sidebar*/
.base__92a12 {
    border-radius: 0px;
    min-width: 16px;
    min-height: 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #fff;
}
.numberBadge__50328.base__92a12 {
    background-color: rgb(0, 55, 156);
}
 
/*channel bar */
.base__3e6af {
	left: 0;
}

.tree__7a511, .wrapper_a7e7a8, .guilds__2b93a, .scroller__3d071 {
  background: #adadad !important;
}

.panel_bd8c76, .container_ca50b9 {
  background: #adadad !important;
}

.interactive__776ee {
  background: rgb( 216, 216, 216 );
}

.scroller__4b984, .scroller_f0f183 {
  background: #bdbdbd !important;
}

.sidebar_ded4b5 {
  background-color: #adadad;
    border-right: 1px solid #252525;
    width: 250px;
}
.container__590e2 {
    background-color: #adadad;
}
.containerDefault__3187b, .containerDragAfter__437c5, .containerDragBefore_fe91aa, .containerUserOver__8b873 {
    position: relative;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    border: 1px solid;
    border-top-color: #808080;
    border-left-color: #808080;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    margin-bottom: 1px;
    background: #d8d8d8;
}
.wrapper__7bcde {
    padding: 0 0px;
    margin-left: 10px;
    border-radius: 0px;
}
.modeSelected__487d6 .wrapper__7bcde, .modeSelected__487d6:hover .wrapper__7bcde {
    background-color: rgba(116, 127, 141, 0.44);
    background: url(http://www.fa-series.com/wp-content/uploads/2020/12/dotted2.png);
}
.mainContent-20q_Hp {
    padding: 0px 0;
}
.containerDefault__23a29, .containerDragAfter__72575, .containerDragBefore__06455, .containerUserOver_fe1d69 {
    position: relative;
    padding-top: 0px;
}
.container-q97qHp {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #000000;
    font-family: "MS Sans Serif";
}
.name__8d1ec {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    white-space: nowrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-family: "MS Sans Serif";
    text-transform: uppercase;
}
.unread__48cf4 {
    height: 18px;
    width: 7px;
    border-radius: 0px;
    top: 0;
    left: 0;
    margin-top: 0px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #989898;
    border-top: 1px solid #929292;
    border-bottom: 1px solid #ffffff;
}
.icon_eff5d4 { /* dies */
    color: var(--text-muted);
    display: none;
}
/* bottom profile */
.panels__58331 {
    background-color: #ababab;
}
/* right bar */
.members__9f47b, .members__9f47b>div {
    background-color: #a9a9a9;
    padding: 0 0 0 0;
}
 
.membersWrap__90226 {
    min-width: 150px;
}
.members__9f47b {
    width: 150px;
}
.membersGroup__85843 {
    padding: 6px 8px 0 7px;
    height: 23px;
}
.container__4f20e, .container-32HW5s {
    padding: 0px 0;
    border-radius: 0px;
    color: #000000;
    border: 1px solid #cccccc;
    margin-bottom: 3px;
    box-shadow: 1px 1Px 1px black;
    background: #b7b7b7;
    border-top-color: #e2e2e2;
    border-left-color: #d2d2d2;
}
.layout_bb8e67, .layout__59abc {
    border-radius: 0px;
    height: 20px;
    padding: 0 0px;
	background-color: rgb( 216, 216, 216 );
}
.avatar__6337f .wrapper-1VLyxH {
    width: 16px !important;
    height: 16px !important;
}

.wrapper_d281dd {
  width: 36px;
  height: 36px;
}

.icon__0cbed {
  width: 32px;
  height: 32px;
}

.wrapper_edb6e0 > .svg_f5b652 {
    width: inherit !important;
    height: inherit !important;
  
}

.avatar__7bd22 .wrapper_edb6e0 {
    width: 16px !important;
    height: 16px !important;
}

.avatar__6337f, .avatar__7bd22 {
    width: 23px;
    height: 33px;
    margin-right: 0px;
}

.closeButton__8f1fd {
  opacity: 1;
  margin: 0;
  padding-right: 0;
}

.name__16feb, .name__02dbd {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    font-family: "MS Sans Serif";
    text-transform: uppercase;
}
.subText_ab7e13, .subText_ed6eed {
    display: none;
}
.offline_c1fd80 {
    opacity: 1;
}
.offline_c1fd80 .avatar__6337f  {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    content: url(http://www.fa-series.com/wp-content/uploads/2020/11/contactoldoffline3.png);
background: transparent;
 
}
/* CHATBOX */
.newMessagesBar__8b6d7 {
    top: 0;
    border-radius: 0px;
    background-color: #800080;
}
.barBase__4e0ba {
    position: absolute;
    left: 0px;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
    min-height: 24px;
    text-transform: capitalize;
    -webkit-transition: opacity .15s;
    transition: opacity .15s;
    opacity: 1;
    cursor: pointer;
}
.chatContent__5dca8 {
    background: #cecece;
}
.compact__54ecc .contents_f41bb2 {
    margin-left: 0rem;
    padding-left: 0rem;
    text-indent: 0rem;
}
 
.compact__54ecc.wrapper__09ecc {
    padding-left: 0px;
}
.message__80c10 {
    padding-right: 0px!important;
}
.embedFull__8dc21 {
    border-left: 0px solid var(--background-tertiary);
    background: #13141500;
}
.embedProvider_cfa718 {
    display: none;
}
.embedAuthor_cb4bfc {
    display: none;
}
.embedTitle__31740 {
    font-family: "MS Sans Serif";
}
.compact__54ecc.wrapper__09ecc {
    padding-left: 4px;
    border-bottom: 1px solid white;
    margin-bottom: 3px;
    box-shadow: 0px 1px 1px grey;
}
.markup_a7e664 a {
    color: #800080;
   font-family: "MS Sans Serif";
   text-decoration: underline;
}
.markup_a7e664  {
    
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #000000;
   font-family: "MS Sans Serif";
 font-size: 12px;
}
.username_d30d99 {
    font-family: "MS Sans Serif";
    font-size: 12px;
    text-transform: uppercase;
}
.compact__54ecc .timestamp_cdbd93, .cozy_f5c119 .timestamp_cdbd93.alt__6c563 {
    font-size: 9px;
    color: #000000;
    text-indent: 0;
    font-family: "MS Sans Serif";
}
.embedMargin__9576e {
    margin-top: 0px;
}
.embedFull__8dc21 .embedMedia_b473d2 {
    margin-top: 0px;
}
.embedVideoImageComponent__7194f {
    width: 100%!important;
    height: 100%!important;
    max-height: 100%;
    border-radius: 0 !important;
    border: 1px solid black;
}
.imageWrapper_fd6587 {
    border-radius: 0px;
    border: 1px solid black;
}
.content_d67847 { /*date */
    padding: 1px 4px;
    color: #000000;
    background: #fff0;
    line-height: 13px;
    font-size: 12px;
    margin-top: -15px;
    font-weight: bolder;
    border-radius: 0px;
    font-family: arial;
    text-transform: uppercase;
}
.isUnread__6f880 .content_d67847 {
    color: #00254c;
}
.isUnread__6f880 {
    border-color: #011c58;
}
.unreadPill__715fc {
    top: -7px;
    right: 0;
    font-size: 10px;
    line-height: 9px;
    font-weight: 700;
    padding: 0 6px 0 1px;
    border-radius: 0 4px 4px 0;
    text-transform: uppercase;
    color: #fff;
    background-color: #011c58;
}
.unreadPillCapStroke__12c0b {
    color: #011c58;
    fill: #011c58;
}
.mentioned__58017 {
    position: relative;
    background-color: #a0a0a0;
}
.wrapper__2d9b1 {
    border-radius: 0px !important;
    padding: 0 2px;
    font-weight: 600;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
    color: #000000;
    background: rgba(156, 0, 0, 0);
    position: relative;
}

.bd-button {
	background-color: #e0a0e0;
}

.bd-addon-views {
	background-color: #e0a0e0;
}

.selected_f5ec8e {
	background-color: #800080;
}

.botTagRegular_c89c9a {
    background: #000000;
    color: #fff;
    border-radius: 0px;
}
.rem__931aa.botTag__4211a {
    height: .9375rem;
    padding: 0 .275rem;
    margin-top: .075em;
    border-radius: 0px;
}
/*scrollbar */
 
.theme-light {
    --scrollbar-thin-track: #989898;
    --scrollbar-auto-thumb: #545454;
    --scrollbar-auto-track: #bbbbbb;
}
/*texting */
.channelTextArea__2e60f {
    margin-bottom: 0px;
    background-color: #635f5f00;
}
.form__13a2c {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    border-top: 1px solid #616161;
}
.scrollableContainer__33e06 {
    background-color: #ebedef00;
    max-height: 50vh;
    border-radius: 0px;
    scrollbar-width: none;
}
.sansAttachButton__996a4 {
    padding-left: 0px;
}
.fontSize14Padding__152fa {
    padding-bottom: 0px;
    padding-top: 0px;
}
.textArea__74543 {
    background-color: #fdfdfd;
    border: 1px solid;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    width: 100%;
    height: 22px;
    min-height: 22px;
    color: #000000;
    padding-left: 0;
    padding-right: 10px;
    top: 11px;
}

.placeholder__4bea5 {
  display: none;
}

.textArea__74543 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.button__55e53 {
    padding: 0px;
    margin-left: 4px;
    margin-right: 4px;
}
/* private channels */
.searchBar_e4ea2a {
    z-index: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0 2px;
    height: 28px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
    border: 1px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #464646;
    border-bottom-color: #808080;
}
.scroller__4b984 {
    background-color: #a7a7a7;
}
.searchBar_e4ea2a .searchBarComponent__22760 {
    width: 100%;
    height: 22px;
    overflow: hidden;
    border-radius: 0px;
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    border: 1px solid black;
    font-family: "Courier New";
}

.peopleColumn__51df3 {
background: #c0c0c0 !important;
}

.selected__9800b .layout_bb8e67 {
    background-color: rgb(43, 43, 43);
    color: white;
}
.scrollbar {
    border-radius:0px;
}

::-webkit-scrollbar-thumb {
	background: #c0c0c0;
	background-clip: none !important;
	border-radius: 0 !important;
	border: 1px solid #c0c0c0 !important;
	border-top-color: #e2e2e2 !important;
    border-left-color: #d2d2d2 !important;
}

::-webkit-scrollbar-track {
	border: none !important;
	background-color: #989898;
	background-clip: none !important;
	border-radius: 0 !important;
	margin-bottom: 0;
}
